* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#0a001b;
    color: white;
    z-index: 1;
}

.header-start {
    position: absolute;
    width: 100%;
    height: 10px;
    top: 0;
    background-color: white;
}

header {
    margin-top: 200px;
    height: 100vh;
}

img {
    height: 400px;
    float: right;
    margin-right: 150px;
    margin-top: -280px;
    
}

h1, p {
    max-width: 800px;
    margin-left: 60px;
    margin-bottom: 20px;
    font-family: "IBM Plex Sans", sans-serif;
}

h1 {
    font-size: 5rem;
    text-align: center;
}

p {
    font-size: 1.5rem;
    text-align: justify;
}

.header-end {
    content: "";
    width: 100%;
    height: 50px;
    background-color: white;
    margin-top: 250px;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
}

main {
   background-color: white;
   width: 100%;
   height: 1000px;
   margin-top: -210px;
}

section {
    max-width: 1000px;
    color: black;
    margin: 0 auto;
    text-align: center;
    font-family: "IBM Plex Sans", sans-serif;

}

section > h2 {
    font-size: 4rem;
    margin-bottom: 20px;
}

section > p {
    font-size: 2rem;
    margin-bottom: 100px;
}

footer > p {
    margin: 20px auto;
    text-align: center;
    background-color: #0a001b;
}